/* Styles for border bottom*/
/* relative pos hide footer shadow */
.dropdownMenuWrapper{
    position: relative;
    padding-bottom: 2px;
    background: linear-gradient(to left, #860909e9, #9b0c0ce8);
}

/* Common styles for every menu */
.dropdownMenuItem{
    padding: 7px 0 7px 10px;
    background: linear-gradient(to left, #cc3333, #f15c22);
    /* text-decoration: none; */
}

.active__Object{
    font-family: Roboto;
    color: black;
}

.active__ObjectName{
    font-size: 24px;
}

.active__ObjectAddress{
    font-size: 15px;
}

.active__ObjectArrow{
    display: inline-block;
    transform: rotate(90deg);
    font-size: 20px;
}

.active__ObjectDelivery{
    font-size: 15px;
}

a{
    text-decoration: none;
}