.swiper-wrapper {
  width: 100%;
  height: 50vh;
  margin: 0;
  padding: 0;
  background-color: grey;
  list-style: none;
}

.swiper-slide img{
  height: 100%;
}

:root {
  --swiper-theme-color: #ff8f32;
}