.swiper-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style: none;
}

.swiper{
  margin-top: -75px;
  height: 100vh;
  z-index: 10;
}

.swiper-slide img{
  height: 100%;
}

.swiper-zoom-container{
  background-color: rgba(255, 255, 255, 0.402);
}

:root {
  --swiper-theme-color: #ff8f32;
}

.closeButton{
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 10vh;
  height: 10vh;
  border: none;
  background-color: transparent;
  font-size: 5vh;
  font-weight: bold;
  color: #ff8f32;

}