.companiesHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    background-color: #dedede;
    margin-bottom: 15px;
}
a{
    text-decoration: none;
}
.companiesTypes{
    padding-left: 20px;
    color: #696969;
    font-family: Roboto;
}