.companyContainer{
    display: grid;
    grid-template-areas:
    "logo info"
    "tasks tasks"
    ;
    width: 100%;
    border-bottom: 1.5px solid #bebebeda;
    font-family: roboto;
}

.logo{
    grid-area: logo;
    display: flex;
    margin: auto;
}

.logo img{
    display: block;
    width: 75px;
}

.companyInfo{
    grid-area: info;
}

.companyTasks{
    grid-area: tasks;
}
.companyType, .companyName, .companyContacts{
    margin: 5px 0;
    font-weight: bold;
    font-size: 18px;
}

.companyName{
    text-transform: uppercase;
}

/*
.companyName{
    grid-area: info;
}

.companyContacts{
    grid-area: info;
} */

.information{
    grid-area: tasks;
}